[user]
	email = t-hatakeyama@keyamin.jp
	name = Takahiro Hatakeyama
[core]
	excludesfile = ~/.gitignore
	editor = vim
	ignorecase = false
	quotepath = false
[color]
	ui = auto
[push]
	default = current
[init]
	defaultBranch = main
[alias]
	co = checkout
	discard = checkout --
	unstage = reset HEAD --
